@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    Lang lang = ViewBag.lang;
    User user = ViewBag.user;
}
@section head{
    <link rel="stylesheet" href="//store.bnsstore.com/res/CSS/ControlPanel/0.0.1.min/css">
    <script src="//store.bnsstore.com/res/JS/ControlPanel/0.0.1.min/js"></script>
}
@section lang{
    @{
        lang.AddKeyword("Store.ControlPanel.Submit");
        lang.AddKeyword("Store.ControlPanel.Download");
        lang.AddStores();
        lang.AddDayOfWeek();
    }

}
@section body{
}
@section main{
    <div id="control-panel-container">
        @Html.Partial("ControlPanel/Manager")
        @Html.Partial("ControlPanel/HumanResources")
        @Html.Partial("ControlPanel/Product")
        @Html.Partial("ControlPanel/Accounting")
        @Html.Partial("ControlPanel/Default")
    </div>

}
@section footer{

}
