@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    SLouple.MVC.Shared.Lang lang = ViewBag.lang;
    List<Shift> unmarkedSchedule = ViewBag.unmarkedSchedule;
}
@section head{
    <link rel="stylesheet" href="//store.bnsstore.com/res/CSS/Marking/0.0.1.min/css">
    <script src="//store.bnsstore.com/res/JS/Marking/0.0.1.min/js"></script>
}
@section lang{
    @{
        lang.AddKeyword("Store.Marking.Submit");
        lang.AddStores();
    }

}
@section body{
}
@section main{
    <div id="marking-container">
        @foreach (Shift shift in unmarkedSchedule)
        {
            <div class="unmarked-shift-container" id="unmarked-shift-container-@shift.userID">
                <div class="unmarked-shift-date" id="unmarked-shift-date-@shift.userID" name="@shift.date.ToShortDateString()">
                    @shift.date.ToShortDateString() : @lang.GetHTMLTrans("Date." + shift.date.DayOfWeek)
                </div>
                <div class="unmarked-shift-store">
                    @lang.GetHTMLTrans("Store.Name." + shift.store) :
                </div>
                <div class="unmarked-shift-name">
                    @User.GetDisplayName(shift.userID)
                </div>
                <div class="unmarked-shift-bottom">
                    <div class=" unmarked-shift-bottom-left">
                        <div class="unmarked-shift-mark">
                            <input class="unmarked-shift-mark-input" id="unmarked-shift-mark-input-@shift.userID" name="@shift.userID" maxlength="3" />
                        </div>
                        <input class="unmarked-shift-submit-button" id="unmarked-shift-submit-button-@shift.userID" name="@shift.userID" type="button" value="@lang.GetHTMLTrans("Store.Marking.Submit")" />
                    </div>
                    <div class="unmarked-shift-bottom-right">
                        <textarea class="unmarked-shift-comment" id="unmarked-shift-comment-@shift.userID" name="@shift.userID"></textarea>
                    </div>
                </div>
            </div>

        }
    </div>

    <script>
        //$('.unmarked-shift-date').autoTextSize(1.3, 1, $("html"), false, { maxFontSize: '30px' });
       // $('.unmarked-shift-store').autoTextSize(1.2, 1, $("html"), false, { maxFontSize: '30px' });
        //$('.unmarked-shift-name').autoTextSize(1.5, 1, $("html"), false, { maxFontSize: '30px' });
       // $('#show-all-checkbox-container').autoTextSize(1.5, 1, $("html"), false, { maxFontSize: '30px' });
    </script>

}
@section footer{

}