@{
    Layout = "~/Views/Layouts/Main/_MainLayout.cshtml";
    Lang lang = ViewBag.lang;
    List<Product> products = ViewBag.products;
    Dictionary<string, string> ids = ViewBag.ids == null ? new Dictionary<string, string>() : ViewBag.ids;
    Dictionary<int, string> productCategories = ViewBag.categories;
}
@section lang{
    @{
        lang.AddKeyword("Store.Products.Search.Keyword");
        lang.AddKeyword("Store.Products.Search.PriceRange");
        lang.AddKeyword("Store.Products.Search.ProductCategory");
        lang.AddKeyword("Store.Products.Search.ProductCategory.All");
        foreach (KeyValuePair<int, string> pair in productCategories)
        {
            lang.AddKeyword("Store.Products.Search.ProductCategory." + pair.Value);
        }
        lang.AddKeyword("Store.Products.Search");
    }
}
@section head{
    <link rel="stylesheet" href="//store.bnsstore.com/res/CSS/Products/0.0.1.min/css">
    <script src="//store.bnsstore.com/res/JS/Products/0.0.1.min/js"></script>
}
@section body{
    <div id="sidebar">
        <div id="sidebar-content">
            <div id="keyword-container">
                <div id="keyword-title">
                    @lang.GetHTMLTrans("Store.Products.Search.Keyword")
                </div>
                <input type="text" id="keyword-textbox" name="keyword">
            </div>
            <div id="price-range-container">
                <div id="price-range-title">@lang.GetHTMLTrans("Store.Products.Search.PriceRange")</div>
                <div id="price-range"></div>
                <div id="price-range-slider"></div>
            </div>
            <div id="product-category-container">
                <div id="product-category-title">@lang.GetHTMLTrans("Store.Products.Search.ProductCategory")</div>
                <div id="product-category-selectmenu-container">
                    <select name="product-category-selectmenu" id="product-category-selectmenu">

                        <option selected="selected" value="0">@lang.GetHTMLTrans("Store.Products.Search.ProductCategory.All")</option>
                        @foreach (KeyValuePair<int, string> pair in productCategories)
                        {
                            <option id="product-category-@pair.Key" value="@pair.Key">@lang.GetHTMLTrans("Store.Products.Search.ProductCategory." + pair.Value)</option>
                        }
                    </select>
                </div>
            </div>
            <button id="search-button">@lang.GetHTMLTrans("Store.Products.Search")</button>
        </div>
    </div>

}
@section main{
    <div id="content">
        @foreach (Product product in products)
        {
            <div class="product">
                <div class="product-image">
                    <img src="//store.bnsstore.com/res/Images/Products/@product.productID/jpg" alt="@product.productName" />
                </div>
                <div class="product-name">
                    @product.productName
                </div>

                @if (product.isOnSale)
                {
                    <div class="product-price on-sale">
                        $@Convert.ToDouble(product.onSalePrice).ToString("N2")
                    </div>
                }
                else
                {
                    <div class="product-price">
                        $@Convert.ToDouble(product.productPrice).ToString("N2")
                    </div>
                }
            </div>
        }
    </div>
    <script>
        $('#content > .product > .product-name').each(function () {
            $(this).autoTextSize(0.1, 0);
        });
        $('#content > .product > .product-price').each(function () {
            $(this).autoTextSize(0.1, 0);
        });
    </script>
}
@section footer{

}
