@{
    Lang lang = ViewBag.lang;
    SLUser user = ViewBag.user;
}
<link rel="stylesheet" href="//store.bnsstore.com/res/CSS/ControlPanel/HumanResources/0.0.1.min/css">
<script src="//store.bnsstore.com/res/JS/ControlPanel/HumanResources/0.0.1.min/js"></script>
<!--#region ADD SHIFT-->
<div id="control-panel-method-add-shift">
    <div id="add-shift-title" class="method-title">
        Add Shift
    </div>
    <div id="add-shift-name-container">
        Name: <input id="add-shift-name" type="text" />
    </div>
    <div id="add-shift-date">
        Date:
        <select name="year" id="add-shift-year">
            <option value="@DateTime.Now.Year - 1">@(DateTime.Now.Year - 1)</option>
            <option selected="selected" value="@DateTime.Now.Year">@DateTime.Now.Year</option>
            <option value="@DateTime.Now.Year + 1">@(DateTime.Now.Year + 1)</option>
        </select>
        <select name="month" id="add-shift-month">
            @for (int i = 1; i < 13; i++)
            {
                if (i == DateTime.Now.Month)
                {
                    <option selected="selected" value="@i">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }

            }
        </select>
        <select name="day" id="add-shift-day">
            @for (int i = 1; i < 32; i++)
            {
                if (i == DateTime.Now.Day)
                {
                    <option selected="selected" value="@i">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }

            }
        </select>
    </div>
    <div id="add-shift-store-container">
        Store:
        <select name="store" id="add-shift-store">
            <option value="N">North</option>
            <option value="S">South</option>
            <option value="X">Special</option>
            <option value="Y">North Special</option>
            <option value="Z">South Special</option>
        </select>
    </div>
    <div id="add-shift-button-container">
        <input id="add-shift-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>

</div>
<!--#endregion ADD SHIFT-->
<hr />
<!--  #region DELETE SHIFT   -->

<div id="control-panel-del-shift">
    <div id="del-shift-title" class="method-title">
        Delete Shift
    </div>
    <div id="del-shift-name-container">
        Name:
        <input id="del-shift-name" type="text" />
    </div>
    <div id="del-shift-date">
        Date:
        <select name="year" id="del-shift-year">
            <option value="@(DateTime.Now.Year - 1)">@(DateTime.Now.Year - 1)</option>
            <option selected="selected" value="@DateTime.Now.Year">@DateTime.Now.Year</option>
            <option value="@(DateTime.Now.Year + 1)">@(DateTime.Now.Year + 1)</option>
        </select>
        <select name="month" id="del-shift-month">
            @for (int i = 1; i < 13; i++)
            {
                if (i == DateTime.Now.Month)
                {
                    <option selected="selected" value="@i">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }

            }
        </select>
        <select name="day" id="del-shift-day">
            @for (int i = 1; i < 32; i++)
            {
                if (i == DateTime.Now.Day)
                {
                    <option selected="selected" value="@i">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }

            }
        </select>
    </div>
    <div id="del-shift-button-container">
        <input id="del-shift-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion-->
<hr />
