@{
    Lang lang = ViewBag.lang;
    SLUser user = ViewBag.user;
}
<link rel="stylesheet" href="//store.bnsstore.com/res/CSS/ControlPanel/Product/0.0.1.min/css">
<script src="//store.bnsstore.com/res/JS/ControlPanel/Product/0.0.1.min/js"></script>
<!--#region Add Product-->
<div id="control-panel-method-add-product">
    <div id="add-product-title" class="method-title">
        Add Product
    </div>
    <div id="add-product-name-container">
        Product Name: <input id="add-product-name" type="text" />
    </div>
    <div id="add-product-price-container">
        Product Price: <input id="add-product-price" type="text" />
    </div>
    <div id="add-product-employee-price-container">
        Employee Price: <input id="add-product-employee-price" type="text" />
    </div>
    <div id="add-product-category-name-container">
        Category:
        <select name="category" id="add-product-category-name">
            @foreach (string categoryName in new SqlStoredProcedures().StoreSelectProductCategories().Values)
            {
                <option value="@categoryName">@categoryName</option>
            }
        </select>
    </div>
    <div id="add-product-button-container">
        <input id="add-product-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion Add Product-->
<hr />
<!--#region Delete Product-->
<div id="control-panel-method-del-product">
    <div id="del-product-title" class="method-title">
        Delete Product
    </div>
    <div id="del-product-name-container">
        Product Name: <input id="del-product-name" type="text" />
    </div>
    <div id="del-product-button-container">
        <input id="del-product-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion Delete Product-->
<hr />
<!--#region Update Product Price-->
<div id="control-panel-method-update-product">
    <div id="update-product-title" class="method-title">
        Update Product
    </div>
    <div id="update-product-name-container">
        Product Name: <input id="update-product-name" type="text" />
    </div>
    <div id="change-product-name">
        <div id="change-product-name-new-name-container">
            New Product Name: <input id="change-product-name-new-name" type="text" />
        </div>
        <div id="change-product-name-button-container">
            <input id="change-product-name-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>
    <div id="change-product-category">
        <div id="change-product-category-name-container">
            Product Category:
            <select name="category" id="change-product-category-name">
                @foreach (string categoryName in new SqlStoredProcedures().StoreSelectProductCategories().Values)
                {
                    <option value="@categoryName">@categoryName</option>
                }
            </select>

        </div>
        <div id="change-product-category-button-container">
            <input id="change-product-category-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>
    <div id="change-product-price">
        <div id="change-product-price-price-container">
            Product Price: <input id="change-product-price-price" type="text" />
        </div>
        <div id="change-product-price-button-container">
            <input id="change-product-price-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>
    <div id="change-product-employee-price">
        <div id="change-product-employee-price-price-container">
            Employee Price: <input id="change-product-employee-price-price" type="text" />
        </div>
        <div id="change-product-employee-price-button-container">
            <input id="change-product-employee-price-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>
    <div id="change-product-on-sale-price">
        <div id="change-product-on-sale-price-price-container">
            On Sale Price: <input id="change-product-on-sale-price-price" type="text" />
        </div>
        <div id="change-product-on-sale-price-button-container">
            <input id="change-product-on-sale-price-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>
    <div id="change-product-image">
        <div id="change-product-image-container">
            Image: <input id="change-product-image-image" type="file" />
        </div>
        <div id="change-product-price-button-container">
            <input id="change-product-image-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
        </div>
    </div>

</div>
<!--#endregion Change Product Price-->
<hr />
<!--#region Add Category-->
<div id="control-panel-method-add-category">
    <div id="add-category-title" class="method-title">
        Add Category
    </div>
    <div id="add-category-name-container">
        Category Name: <input id="add-category-name" type="text" />
    </div>
    <div id="add-category-button-container">
        <input id="add-category-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion Add Category-->
<hr />
<!--#region Delete Category-->
<div id="control-panel-method-del-category">
    <div id="del-category-title" class="method-title">
        Delete Category (USE WITH CAUTION!)<br>(All products under this category will have no category)
    </div>
    <div id="del-category-name-container">
        Category Name: <input id="del-category-name" type="text" />
    </div>
    <div id="del-category-button-container">
        <input id="del-category-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion Delete Category-->
<hr />
<!--#region Change Category Name-->
<div id="control-panel-method-change-category-name">
    <div id="change-category-name-title" class="method-title">
        Change Category Name (USE WITH CAUTION!)<br>(This will break translations)
    </div>
    <div id="change-category-name-name-container">
        Category Name:
        <select name="category" id="change-category-name-name">
            @foreach (string categoryName in new SqlStoredProcedures().StoreSelectProductCategories().Values)
            {
                <option value="@categoryName">@categoryName</option>
            }
        </select>

    </div>
    <div id="change-category-name-new-name-container">
        New Category Name: <input id="change-category-name-new-name" type="text" />
    </div>
    <div id="change-category-name-button-container">
        <input id="change-category-name-button" type="button" value="@lang.GetHTMLTrans("Store.ControlPanel.Submit")" />
    </div>
</div>
<!--#endregion Change Category Name-->
<hr />